<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns:html="http://www.w3.org/1999/xhtml" lang="pt-br">
	<head>
	   <meta
	      http-equiv="content-type"
	      content="text/html;charset=UTF-8"/>
	   <meta
	      name="viewport"
	      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	   <meta
	      name="keywords"
	      content="HTML,CSS,XML,JavaScript"/>
	   <meta
	      name="date"
	      content="11/11/1111"/>
	   <meta
	      name="description"
	      content="Quiz"/>
	   <meta
	      name="author"
	      content="Franco Michel Almeida Caixeta"/>
		<link
			rel="shortcut icon"
			href="image/favicon.ico"/>
	   <link
	      viewID="css"
	      viewBlock=""
	      rel="stylesheet"
	      crossorigin="anonymous"/>
	   <title
	      att="attribute">
			{$title}
	   </title>
	</head>
	<body
		class="text-center">
		<header>
		   <nav
		      class="navbar navbar-expand-lg navbar-dark
		             bg-light shadow p-1 mb-1 rounded">
		      <a
		         class="navbar-brand"
		         href="./">
		         <img
		            src="image/luz.png"
		            width="30"
		            height="40"
		            alt=""/>
		         {$title}
		         <span class="sr-only">
		            (current)
		         </span>
		      </a>
		      <button
		         class="navbar-toggler"
		         type="button"
		         data-toggle="collapse"
		         data-target="#navbarSupportedContent"
		         aria-controls="navbarSupportedContent"
		         aria-expanded="false"
		         aria-label="Toggle navigation">
		         <span
		            class="navbar-toggler-icon">
		         </span>
		      </button>
		      <div
		         class="collapse navbar-collapse"
		         id="navbarSupportedContent">
					<ul
					   class="navbar-nav mr-auto">
						<a
						   viewID="menuitem"
							viewBlock=""
							class="btn btn-outline-light ml-2">
						   <img
						      viewID="menuimage"
						      width="32px"
						      height="32px"
						      alt=""/>
						</a>
					</ul>
		      </div>
		   </nav>
		</header>
		<main
			class="container">
			<div
				viewID="main">
			</div>
			<div
		      style="height: 50px;">
		   </div>
		</main>
		<footer>
		   <span
		      class="text-dark">
		      <img
		         src="image/senai.png"
		         width="300"
		         height="40"
		         alt="SENAI"/>
		   </span>
		   <span
		      class="text-dark">
		      <img
		         src="image/paint.png"
		         width="90"
		         height="40"
		         alt=""/>
		      By Franco M. A. Caixeta.
		   </span>
		</footer>
	</body>
</html>
