<form
   class=""
   method="post"
   enctype="multipart/form-data"
   autocomplete="off">
   <div class="card text-left text-light bg-dark">
      <div class="card-header">
         <h4>Questão 1:</h4>
      </div>
      <div class="card-body">
         <h5 viewID="pergunta">
            Primeiro vamos ver se você é bom em criptografia!
            <br/>
            Para facilitar vamos ignorar letras maiúsculas e minúsculas
            e retire as acentuações.
            <br/>
            Seu nome fica assim: "{nome}".
            <br/>
            Inverta seu nome (letra por letra).
         </h5>
         <br/>
         <h5>Resposta:</h5>
         <input
            type="text"
            name="resposta"
            class="form-control"
            required=""
            autocomplete="off"/>
         <div viewID="alert" class="alert alert-danger d-none" role="alert">
            A resposta está incorreta, você tem apenas mais 999... tentativas.
         </div>
         <small
            class="form-text text-muted">
            <h5>
               "dino da silva sauro" fica assim:
               <br/>
               "oruas avlis ad onid"
            </h5>
         </small>
         <br/>
         <div class="text-center">
            <button
               type="submit"
               class="btn btn-primary btn-lg btn-block">
               Proximo
            </button>
         </div>
         <br />
         <div class="text-center">
            <a
               viewID="next"
               class="btn btn-sm btn-outline-secondary"
               style="width: 200px;"
               href="./?PG=Quiz&amp;Q=1"
            >Pular</a>
         </div>
      </div>
   </div>
</form>
