<form
   class=""
   method="post"
   enctype="multipart/form-data"
   autocomplete="off">
   <div class="card text-left text-light bg-dark">
      <div class="card-header">
         <h4>Questão 3:</h4>
      </div>
      <div class="card-body">
         <h5 viewID="pergunta">
            Tenho certeza que foi muito fácil!
            <br/>
            Para dificultar qualquer intruso, devemos pegar o identificador
            do computador ou seja o numero do seu PC: {pc} e somar com as
            vogais que já foram substituidas:
            <br/>
            "{nome}"
            <br/>
            Por isso devemos sempre escrever com 2 digitos.
         </h5>
         <br/>
         <h5>Resposta:</h5>
         <input
            type="text"
            name="resposta"
            class="form-control"
            required=""
            autocomplete="off"/>
         <div viewID="alert" class="alert alert-danger d-none" role="alert">
            A resposta está incorreta, você tem apenas mais 999... tentativas.
         </div>
         <small
            class="form-text text-muted">
            <h5>
               "04r0501s 01vl03s 01d 04n03d" no computador 10 fica assim:
               <br/>
               "14r1511s 11vl13s 11d 14n13d"
            </h5>
         </small>
         <br/>
         <div class="text-center">
            <button
               type="submit"
               class="btn btn-primary btn-lg btn-block">
               Proximo
            </button>
         </div>
      </div>
   </div>
</form>
