<form
   class=""
   method="post"
   enctype="multipart/form-data"
   autocomplete="off">
   <div class="card text-left text-light bg-dark">
      <div class="card-header">
         <h4>Questão 4:</h4>
      </div>
      <div class="card-body">
         <h5 viewID="pergunta">
            Se tudo estiver correto o seu nome já está quase ilegível!
            <br/>
            "{nome}" não é mesmo?
            <br/>
            Vamos substituir os espaços pelo carácter "$":
         </h5>
         <br/>
         <h5>Resposta:</h5>
         <input
            type="text"
            name="resposta"
            class="form-control"
            required=""
            autocomplete="off"/>
         <div viewID="alert" class="alert alert-danger d-none" role="alert">
            A resposta está incorreta, você tem apenas mais 999... tentativas.
         </div>
         <small
            class="form-text text-muted">
            <h5>
               "14r1511s 11vl13s 11d 14n13d" fica assim:
               <br/>
               "14r1511s$11vl13s$11d$14n13d"
            </h5>
         </small>
         <br/>
         <div class="text-center">
            <button
               type="submit"
               class="btn btn-primary btn-lg btn-block">
               Proximo
            </button>
         </div>
         <br />
         <div class="text-center">
            <a
               viewID="back"
               class="btn btn-sm btn-outline-secondary"
               style="width: 200px;"
               href="./?PG=Quiz&amp;Q=2"
            >Votar</a>
            <small> </small>
            <a
               viewID="next"
               class="btn btn-sm btn-outline-secondary"
               style="width: 200px;"
               href="./?PG=Quiz&amp;Q=4"
            >Pular</a>
         </div>
      </div>
   </div>
</form>
