<form
   class=""
   method="post"
   enctype="multipart/form-data"
   autocomplete="false">
   <div class="card text-left text-light bg-dark">
      <div class="card-header">
         <h4>Hackeando...</h4>
      </div>
      <div class="card-body">
         <h5 viewID="pergunta">
            Deve ter sido muito fácil para você!
            <br/>
            <br/>
            Foi interceptado uma conversa entre um usuario e seu servidor,
            a chave do sistema se encontra no meio do texto, para não ter
            que decodificar tudo consegui localizar em qual posição ela está.
            <br/>
            A resposta que vc acabou de encontrar: "{nome}"
            é exatamente a localização
            da chave.
            <br/>
            Agora tente hackear o sistema, mas lembre, o servidor vai te
            bloquear se detectar como uma ameaça, então desta vez você tem
            poucas tentativas.
            <br/>
            boa sorte.
         </h5>
         <br/>
      </div>
   </div>
</form>
