<form
   class=""
   method="post"
   enctype="multipart/form-data"
   autocomplete="off">
   <div class="card text-left text-light bg-dark">
      <div class="card-header">
         <h4>Registrando!</h4>
      </div>
      <div class="card-body">
         <h5>Nome:</h5>
         <input
            type="text"
            name="nome"
            class="form-control"
            placeholder="Exemplo: Dino da Silva Sauro"
            required=""
            minlength="10"
            autocomplete="off"
            value="{name}"/>
         <div
            viewID="alertName"
            class="alert alert-danger d-none"
            role="alert"
         >
            O Nome está incorreta, você tem apenas mais 999... tentativas.
         </div>
         <small class="form-text text-muted">
            Este nome será usado nos exercícios!
         </small>
         <br/>
         <h5>Data de Nascimento:</h5>
         <input
            viewID="data"
            type="date"
            name="data"
            class="form-control"
            required=""
            min="1900-01-01"
            autocomplete="off"/>
         <small
            class="form-text text-muted">
            Dia, Mês e ano em que você nasceu!
         </small>
         <br/>
         <h5>
            SENHA = (DIA + MES + ANO + PC);
            <br/>
            Seu PC é o Numero: {pc};
         </h5>
         <small
            class="form-text text-muted">
            <h5 viewID="dica">
               Ex: 11/08/2000 e seu pc é 10 então temos:
               <br/>
               Somamos todos os números!
               <br/>
               SENHA = 11 + 08 + 2000 + 10;
               <br/>
               SENHA = 2029;
            </h5>
         </small>
         <h5>Senha:</h5>
         <input
            type="password"
            name="senha"
            class="form-control"
            required=""
            minlength="4"
            maxlength="4"
            autocomplete="new-password"/>
         <div viewID="alert" class="alert alert-danger d-none" role="alert">
            A Senha está incorreta, você tem apenas mais 999... tentativas.
         </div>
         <br/>
         <div class="text-center">
            <button
               type="submit"
               class="btn btn-primary btn-lg btn-block">
               Entrar
            </button>
         </div>
      </div>
   </div>
</form>
