<div>
   <div class="card text-left text-light bg-dark">
      <div class="card-header">
         <h4>Progresso</h4>
      </div>
      <div class="card-body">
         <table>
            <caption>Progresso</caption>
            <thead>
               <tr>
                  <th>Ranking</th>
                  <th>Nome</th>
                  <th>Inicio</th>
                  <th>Termino</th>
                  <th>Progresso</th>
                  <th>Total</th>
               </tr>
            </thead>
            <tbody>
               <tr viewID="row">
                  <th
                     viewID="col"
                     style="width: 150px;"
                  ></th>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>
