<form
   class="container"
   method="post"
   enctype="multipart/form-data"
   autocomplete="false">
   <br/>
   <div class="card text-center text-light blinks border rounded p-2">
      <h1>Sistema bloqueado!</h1>
      <h2 viewID="pergunta">
         A Policia Federal já foi informada da sua localização:
         <br/>
         SENAI Uberaba CFP Fidelis Reis. Endereço:
         <br/>
         Praça Professor Eugênio, 85 - São Benedito - MG - CEP 38010-280
         <br/>
         Bloco D, Sala 206, {pc}
      </h2>
   </div>
   <br/>
   <img
      src="image/lock.png"
      width="400"
      height="300"
      alt="">
   </img>
</form>
